@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: #fff;
  z-index: 2;
}

.showcase header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-transform: uppercase;
  cursor: pointer;
}

.toggle {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: all 1s ease;
}

.toggle span {
  display: block;
  width: 90%;
  height: 4px;
  margin: 3px 0px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transition: all 1s ease;
}

.toggle.active span {
  display: none;
  transition: all 1s ease;
}

.toggle.active:before, .toggle.active:after {
  position: absolute;
  left: 15px;
  content: '';
  height: 33px;
  width: 3px;
  border-radius: 3px;
  background-color: #cdcdcd;
  transition: all 1s ease;
}

.toggle.active:before {
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.toggle.active:after {
  transform: rotate(-45deg);
  transition: transform 0.3s ease;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  mix-blend-mode: overlay;

}

.text {
  position: relative;
  z-index: 10;
}

.text h2{
  font-size: 5em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
}

p {
  font-size: 1.1em;
  margin: 20px 0;
  max-width: 600px;
  font-weight: 400;

}
