@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* body {
  background-color: #0e153a;
  width: 100vw;
  margin: 0;
  padding: 0;
} */

.wrapper {
  height: 100vh;
  overflow: auto;
  background-color: #0e153a;
  /* scroll-snap-type: y mandatory; */
  scroll-behavior: smooth;
}

#part1, #part2, #part3 {
  scroll-snap-align: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  right: 0;
  justify-content: center;
  align-items: center;
  transition-delay: 0s;
  transition-property: right, transform, filter;
  transition-duration: 0.7s;
}

/* Menu */

#part1.reduit, #part2.reduit, #part3.reduit {
  transform: scale(0.9);
  right: calc(0.3 * 100vw);
  filter: blur(4px);
}

#menu {
  position: absolute;
  width: calc(0.3 * 100vw);
  height: 80%;
  right: 5%;
  top: 10%;
  color: white;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1.5s;
  transition-delay: 0s;
}

#menu .menuTitle {
  position: relative;
  list-style-type: none;
}

#menu a {
  font-size: 1.5em;
  /* margin: 1.5em 1.5em; */
  text-decoration: none;
  list-style: none;
}

#menu a:visited {
  color: #c5e3f6;
}

#menu li {
  padding: 1.5em;
  color: #c5e3f6;
  transition: all 1s;
}

#menu li:hover {
  cursor: pointer;
  color: white;
  transform: translateY(-20px);
}

#menu.activated {
  visibility: visible;
  opacity: 1;
}

/* Section Accueil */
.part1:before {
  content: '';
  background: #fff;
}

.part1 {
  position: relative;
  width: 100%;
  padding: 100px;
  background: #111;
  color: #fff;
  z-index: 2;
  transition: all 0.4s 1s;
}

.part1 header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: start;
}

.logo {
  text-transform: uppercase;
  cursor: pointer;
}

.toggle {
  position: fixed;
  top: 3%;
  right: 5%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  transition: all 1s ease;
}

.toggle span {
  display: block;
  width: 90%;
  height: 4px;
  margin: 3px 0px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transition-property: transform;
  transition-delay: 0.5s;
  transition-duration: 1s;
}

.toggle.active span {
  display: none;
}

.toggle.active:before, .toggle.active:after {
  position: absolute;
  left: 15px;
  content: '';
  height: 33px;
  width: 3px;
  border-radius: 3px;
  background-color: #cdcdcd;
}

.toggle.active:before {
  transform: rotate(45deg);
}

.toggle.active:after {
  transform: rotate(-45deg);
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  mix-blend-mode: overlay;

}

.text {
  position: absolute;
  z-index: 10;
  top: 40%;
  left: 100px;
}

.text h2{
  font-size: 5em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
}

p {
  font-size: 1.1em;
  margin: 40px 0;
  max-width: 600px;
  font-weight: 400;
}

#plus {
  text-decoration: none;
  color: white;
  border: white 1px solid;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  transition: all 0.5s;
  padding: 15px;
}

#plus:hover {
  border: black 2px solid;
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
}

/* Section part2 */
.part2 {
  position: relative;
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("image.jpg");
  color: #fff;
  filter: blur(4px);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.part2 h1 {
  z-index: 1;
}

/* Section part3 */
.part3{
  background: #111;
  color: #fff;
}

.part3 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  filter: grayscale(100%);
}

.part3 h1 {
  z-index: 1;
}

/* Navigateur */
.navigateur {
  position: fixed;
  top: 50%;
  right: 3%;
  z-index: 100;
  opacity: 1;
  transition: all 0.7s;
}

.navigateur.menu {
  opacity: 0;
}

.navigateur ul {
  list-style-type: none;
  text-align: right;
}

.navigateur li {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

span.title {
  color: white;
  opacity: 0;
  transition: opacity 0.4 ease;
}

.line {
  height: 1px;
  width: 0px;
  top: 50%;
  background: white;
  margin-left: 10px;
  margin-right: 15px;
  transition: width 0.4s ease;
}

a.dot {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 20px;
  height: 25px;;
  text-decoration: none;
}

a.dot span {
  height: 6px;
  width: 6px;
  background: white;
  border-radius: 50%;
  transition: all ease-out 0.3s;
}


a.dot span.active{
  opacity: 0.5;
}

a.dot span.selected {
  height: 12px;
  width: 12px;
  background: rgba(255, 255, 255, 0.3);
  border: 2px blue solid;
}
